.mainchat
  .group-info
    .group-info__box
      %p.group-info__box__groupname
        test
      %ul.group-info__box__member-list
        Member : 
        %li.group-info__box__member
          test-name

    = link_to "#", class:"edit" do
      Edit

  .message-list
    .message-list__box
      .message-list__box__info
        .message-list__box__info__username
          test
        .message-list__box__info__date
          2020年6月20日 6時00分
      .message-list__box__message
        %p.message-list__content
          test.message

    .message-list__box
      .message-list__box__info
        .message-list__box__info__username
          test
        .message-list__box__info__date
          2020年6月20日 6時00分
      .message-list__box__message
        %p.message-list__content
          test.message

    .message-list__box
      .message-list__box__info
        .message-list__box__info__username
          test
        .message-list__box__info__date
          2020年6月20日 6時00分
      .message-list__box__message
        %p.message-list__content
          test.message


  .message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__input-box
        = f.text_field :content, class: "input-box__text", placeholder: 'type a message'
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image', class: "input-box__image")
          = f.file_field :image, class: "input-box__file"
      = f.submit 'Send', class: "submit-btn"
